In [5]:
import pandas as pd
a = pd.read_csv("adaptiv/sensorData/movedAccel.csv")
o = pd.read_csv("adaptiv/sensorData/myAccel.csv")

In [9]:
a.head()

   875277770996  -0.96929931640625  2.443267822265625  9.439239501953125
0  875297698974          -0.869324           2.519440           9.225006
1  875317596435          -1.131165           2.443268           8.851288
2  875337493896          -1.381104           2.205231           9.079803
3  875357421875          -1.612000           2.188568           8.896515
4  875377319335          -1.416809           2.252838           9.201202

In [28]:
o.head()

   Timestamp       x       y       z
0      0.061  0.0690 -0.8802  0.4772
1      0.071  0.0745 -0.8810  0.4806
2      0.081  0.0929 -0.8681  0.4749
3      0.091  0.1138 -0.8611  0.4761
4      0.101  0.1146 -0.8602  0.4748

In [15]:
a.columns = ['timestamp','x','y','z']

In [26]:
a['timestamp'][0] - a['timestamp'][1]

-19897461

In [ ]:
# adaptive x mean